Project Description:
    
Zomato Data Analysis is one of the most useful analysis for foodies who want to taste the best
cuisines of every part of the world which lies in their budget. This analysis is also for those who
want to find the value for money restaurants in various parts of the country for the cuisines.
Additionally, this analysis caters the needs of people who are striving to get the best cuisine of
the country and which locality of that country serves that cuisines with maximum number of
restaurants.

Every Restaurant contains the following variables:

• Restaurant Id: Unique id of every restaurant across various cities of the world

• Restaurant Name: Name of the restaurant

• Country Code: Country in which restaurant is located

• City: City in which restaurant is located

• Address: Address of the restaurant

• Locality: Location in the city

• Locality Verbose: Detailed description of the locality

• Longitude: Longitude coordinate of the restaurant&#39;s location

• Latitude: Latitude coordinate of the restaurant&#39;s location

• Cuisines: Cuisines offered by the restaurant

• Average Cost for two: Cost for two people in different currencies ��

• Currency: Currency of the country

• Has Table booking: yes/no

• Has Online delivery: yes/ no

• Is delivering: yes/ no

• Switch to order menu: yes/no

• Price range: range of price of food

• Aggregate Rating: Average rating out of 5

• Rating color: depending upon the average rating color

• Rating text: text on the basis of rating of rating

• Votes: Number of ratings casted by people

TARGET VARIABLES:
1. Average Cost for two
2. Price range


Data Storage:

This problem statement contains two datasets- Zomato.csv and country_code.csv.

Country_code.csv contains two variables:

• Country code

• Country name

In [1]:
#import libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import os 
import warnings
warnings.filterwarnings('ignore')

In [ ]:
df1=pd.read_csv('zomato.csv',encoding='latin-1')
df1

In [4]:
df1.columns

Index(['Restaurant ID', 'Restaurant Name', 'Country Code', 'City', 'Address',
       'Locality', 'Locality Verbose', 'Longitude', 'Latitude', 'Cuisines',
       'Average Cost for two', 'Currency', 'Has Table booking',
       'Has Online delivery', 'Is delivering now', 'Switch to order menu',
       'Price range', 'Aggregate rating', 'Rating color', 'Rating text',
       'Votes'],
      dtype='object')

In [5]:
df2=pd.read_csv('Country-Code.csv',encoding='latin-1')
df2

    Country Code         Country
0              1           India
1             14       Australia
2             30          Brazil
3             37          Canada
4             94       Indonesia
5            148     New Zealand
6            162     Phillipines
7            166           Qatar
8            184       Singapore
9            189    South Africa
10           191       Sri Lanka
11           208          Turkey
12           214             UAE
13           215  United Kingdom
14           216   United States

In [6]:
# use merge operator to join two datasets
df3=df1.merge(df2)
df3

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,...,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes,Country
0,6317637,Le Petit Souffle,162,Makati City,"Third Floor, Century City Mall, Kalayaan Avenu...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027535,14.565443,"French, Japanese, Desserts",...,Yes,No,No,No,3,4.8,Dark Green,Excellent,314,Phillipines
1,6304287,Izakaya Kikufuji,162,Makati City,"Little Tokyo, 2277 Chino Roces Avenue, Legaspi...","Little Tokyo, Legaspi Village, Makati City","Little Tokyo, Legaspi Village, Makati City, Ma...",121.014101,14.553708,Japanese,...,Yes,No,No,No,3,4.5,Dark Green,Excellent,591,Phillipines
2,6300002,Heat - Edsa Shangri-La,162,Mandaluyong City,"Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...","Edsa Shangri-La, Ortigas, Mandaluyong City","Edsa Shangri-La, Ortigas, Mandaluyong City, Ma...",121.056831,14.581404,"Seafood, Asian, Filipino, Indian",...,Yes,No,No,No,4,4.4,Green,Very Good,270,Phillipines
3,6318506,Ooma,162,Mandaluyong City,"Third Floor, Mega Fashion Hall, SM Megamall, O...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.056475,14.585318,"Japanese, Sushi",...,No,No,No,No,4,4.9,Dark Green,Excellent,365,Phillipines
4,6314302,Sambo Kojin,162,Mandaluyong City,"Third Floor, Mega Atrium, SM Megamall, Ortigas...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.057508,14.584450,"Japanese, Korean",...,Yes,No,No,No,4,4.8,Dark Green,Excellent,229,Phillipines
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9546,5915730,NamlÛ± Gurme,208,ÛÁstanbul,"Kemankeô Karamustafa Paôa Mahallesi, RÛ±htÛ±...",Karakí_y,"Karakí_y, ÛÁstanbul",28.977392,41.022793,Turkish,...,No,No,No,No,3,4.1,Green,Very Good,788,Turkey
9547,5908749,Ceviz AÛôacÛ±,208,ÛÁstanbul,"Koôuyolu Mahallesi, Muhittin íìstí_ndaÛô Cadd...",Koôuyolu,"Koôuyolu, ÛÁstanbul",29.041297,41.009847,"World Cuisine, Patisserie, Cafe",...,No,No,No,No,3,4.2,Green,Very Good,1034,Turkey
9548,5915807,Huqqa,208,ÛÁstanbul,"Kuruí_eôme Mahallesi, Muallim Naci Caddesi, N...",Kuruí_eôme,"Kuruí_eôme, ÛÁstanbul",29.034640,41.055817,"Italian, World Cuisine",...,No,No,No,No,4,3.7,Yellow,Good,661,Turkey
9549,5916112,Aôôk Kahve,208,ÛÁstanbul,"Kuruí_eôme Mahallesi, Muallim Naci Caddesi, N...",Kuruí_eôme,"Kuruí_eôme, ÛÁstanbul",29.036019,41.057979,Restaurant Cafe,...,No,No,No,No,4,4.0,Green,Very Good,901,Turkey
9550,5927402,Walter's Coffee Roastery,208,ÛÁstanbul,"CafeaÛôa Mahallesi, BademaltÛ± Sokak, No 21/B,...",Moda,"Moda, ÛÁstanbul",29.026016,40.984776,Cafe,...,No,No,No,No,2,4.0,Green,Very Good,591,Turkey

In [7]:
df3.columns

Index(['Restaurant ID', 'Restaurant Name', 'Country Code', 'City', 'Address',
       'Locality', 'Locality Verbose', 'Longitude', 'Latitude', 'Cuisines',
       'Average Cost for two', 'Currency', 'Has Table booking',
       'Has Online delivery', 'Is delivering now', 'Switch to order menu',
       'Price range', 'Aggregate rating', 'Rating color', 'Rating text',
       'Votes', 'Country'],
      dtype='object')

In [8]:
# drop unwanted columns
df3.drop(columns=['Restaurant ID','Is delivering now'],inplace=True)

In [9]:
df3.shape

(9551, 20)

In [10]:
# Total How many countries
df3['Country'].nunique()

15

In [18]:
#which country has how many restaurants
country=df3['Country'].value_counts()

Under zomato dataset 90%  restaurants are Indian and other restaurants are 10%

In [21]:
mask=df3['Country Code']==1
df3=df3[mask]

In [22]:
df3.shape

(8652, 20)

In above operation we modify data by mask function as a condition and take only 90% data ,which is easy to lear machine algorithm

In [23]:
df3.drop(columns=['Country Code','Currency'],inplace=True)

In [24]:
df3.columns

Index(['Restaurant Name', 'City', 'Address', 'Locality', 'Locality Verbose',
       'Longitude', 'Latitude', 'Cuisines', 'Average Cost for two',
       'Has Table booking', 'Has Online delivery', 'Switch to order menu',
       'Price range', 'Aggregate rating', 'Rating color', 'Rating text',
       'Votes', 'Country'],
      dtype='object')

In [25]:
df3['City'].nunique()

43

In [26]:
df3['City'].value_counts()

City
New Delhi       5473
Gurgaon         1118
Noida           1080
Faridabad        251
Ghaziabad         25
Ahmedabad         21
Guwahati          21
Lucknow           21
Bhubaneshwar      21
Amritsar          21
Pune              20
Puducherry        20
Patna             20
Ludhiana          20
Ranchi            20
Surat             20
Vadodara          20
Nashik            20
Nagpur            20
Mysore            20
Mumbai            20
Varanasi          20
Mangalore         20
Agra              20
Kochi             20
Kolkata           20
Dehradun          20
Allahabad         20
Aurangabad        20
Bangalore         20
Bhopal            20
Chennai           20
Coimbatore        20
Goa               20
Indore            20
Jaipur            20
Kanpur            20
Vizag             20
Chandigarh        18
Hyderabad         18
Secunderabad       2
Panchkula          1
Mohali             1
Name: count, dtype: int64

In [27]:
mask=df3['City'].isin(['New Delhi','Gurgaon','Noida'])
df3=df3[mask]
df3.shape

(7671, 18)

In [28]:
df3['Restaurant Name'].value_counts()

Restaurant Name
Cafe Coffee Day         81
Domino's Pizza          75
Subway                  60
Green Chick Chop        47
McDonald's              44
                        ..
Sahni Chicken Corner     1
Rewari Sweets            1
Pindi's Kitchen          1
Nagi Fish Corner         1
The Grand                1
Name: count, Length: 5834, dtype: int64

In [29]:
df3.drop(columns=['Restaurant Name','Address','Locality','Locality Verbose','Rating color','Rating text','Country'],inplace=True)

In [30]:
df3.columns

Index(['City', 'Longitude', 'Latitude', 'Cuisines', 'Average Cost for two',
       'Has Table booking', 'Has Online delivery', 'Switch to order menu',
       'Price range', 'Aggregate rating', 'Votes'],
      dtype='object')

In [31]:
df3['Switch to order menu'].value_counts()

Switch to order menu
No    7671
Name: count, dtype: int64

In [32]:
# it removed reason there only one value that is  No
df3.drop(columns=['Switch to order menu'],inplace=True)

In [33]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7671 entries, 1161 to 9112
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   City                  7671 non-null   object
 1   Longitude             7671 non-null   float64
 2   Latitude              7671 non-null   float64
 3   Cuisines              7671 non-null   object
 4   Average Cost for two  7671 non-null   int64
 5   Has Table booking     7671 non-null   object
 6   Has Online delivery   7671 non-null   object
 7   Price range           7671 non-null   int64
 8   Aggregate rating      7671 non-null   float64
 9   Votes                 7671 non-null   int64
dtypes: float64(3), int64(3), object(4)
memory usage: 659.2+ KB

In [34]:
df3['Has Table booking'].replace('Yes',1,inplace=True)
df3['Has Table booking'].replace('No',0,inplace=True)

In [35]:
df3['Has Table booking'].value_counts()

Has Table booking
0    6640
1    1031
Name: count, dtype: int64

In [36]:
df3['Has Online delivery'].replace('Yes',1,inplace=True)
df3['Has Online delivery'].replace('No',0,inplace=True)

In [37]:
df3['Has Online delivery'].value_counts()

Has Online delivery
0    5393
1    2278
Name: count, dtype: int64

In [38]:
df3.corr(numeric_only=True)

,Longitude,Latitude,Average Cost for two,Has Table booking,Has Online delivery,Price range,Aggregate rating,Votes
Longitude,1.000000,0.997721,0.071854,0.059863,0.138230,0.082031,0.221801,0.071482
Latitude,0.997721,1.000000,0.070816,0.060228,0.137746,0.081059,0.221399,0.071196
Average Cost for two,0.071854,0.070816,1.000000,0.643845,0.072198,0.848425,0.329785,0.297741
Has Table booking,0.059863,0.060228,0.643845,1.000000,0.072631,0.661477,0.251972,0.224377
Has Online delivery,0.138230,0.137746,0.072198,0.072631,1.000000,0.184855,0.339658,0.121491
Price range,0.082031,0.081059,0.848425,0.661477,0.184855,1.000000,0.372624,0.325489
Aggregate rating,0.221801,0.221399,0.329785,0.251972,0.339658,0.372624,1.000000,0.291500
Votes,0.071482,0.071196,0.297741,0.224377,0.121491,0.325489,0.291500,1.000000

In [39]:
df3.corr(numeric_only=True)['Average Cost for two']

Longitude               0.071854
Latitude                0.070816
Average Cost for two    1.000000
Has Table booking       0.643845
Has Online delivery     0.072198
Price range             0.848425
Aggregate rating        0.329785
Votes                   0.297741
Name: Average Cost for two, dtype: float64

In [40]:
df3.drop(columns=['Longitude','Latitude','Price range','Has Online delivery'],inplace=True)

In [41]:
df3.groupby('Cuisines')['Average Cost for two'].mean()

Cuisines
Afghani                                       512.500000
Afghani, Mughlai, Chinese                     500.000000
Afghani, North Indian                         900.000000
Afghani, North Indian, Pakistani, Arabian     500.000000
American                                      666.666667
                                                ...
Tibetan, Street Food                          100.000000
Turkish                                       600.000000
Turkish, Arabian, Moroccan, Lebanese          400.000000
Turkish, Mediterranean, Middle Eastern       2000.000000
Vietnamese                                   1000.000000
Name: Average Cost for two, Length: 1143, dtype: float64

In [42]:
cuisine=df3.groupby('Cuisines')['Average Cost for two'].mean().reset_index()

In [43]:
new_df3=df3.merge(cuisine,on='Cuisines')

In [44]:
new_df3.drop(columns=['Cuisines'],inplace=True)

In [45]:
new_df3.head(3)

,City,Average Cost for two_x,Has Table booking,Aggregate rating,Votes,Average Cost for two_y
0,Gurgaon,350,0,3.4,16,416.666667
1,New Delhi,200,0,0.0,0,416.666667
2,New Delhi,700,0,4.1,92,416.666667

In [46]:
new_df3.rename(columns={'Average Cost for two_x':'cost','Average Cost for two_y':'cuisine'},inplace=True)
new_df3.head()

        City  cost  Has Table booking  Aggregate rating  Votes     cuisine
0    Gurgaon   350                  0               3.4     16  416.666667
1  New Delhi   200                  0               0.0      0  416.666667
2  New Delhi   700                  0               4.1     92  416.666667
3    Gurgaon   800                  1               2.7     80  755.511551
4    Gurgaon  2000                  1               4.3   1887  755.511551

In [47]:
new_df3=new_df3[['City','Has Table booking','Aggregate rating','Votes','cuisine','cost']]
new_df3.head()

        City  Has Table booking  Aggregate rating  Votes     cuisine  cost
0    Gurgaon                  0               3.4     16  416.666667   350
1  New Delhi                  0               0.0      0  416.666667   200
2  New Delhi                  0               4.1     92  416.666667   700
3    Gurgaon                  1               2.7     80  755.511551   800
4    Gurgaon                  1               4.3   1887  755.511551  2000

In [48]:
x=new_df3.iloc[:,:-1].values
x

array([['Gurgaon', 0, 3.4, 16, 416.6666666666667],
       ['New Delhi', 0, 0.0, 0, 416.6666666666667],
       ['New Delhi', 0, 4.1, 92, 416.6666666666667],
       ...,
       ['Noida', 0, 3.5, 105, 450.0],
       ['Noida', 1, 0.0, 0, 1000.0],
       ['Noida', 0, 2.0, 161, 450.0]], dtype=object)

In [49]:
y=new_df3.iloc[:,-1].values
y

array([ 350,  200,  700, ...,  450, 1000,  450], dtype=int64)

In [50]:
from sklearn.preprocessing import LabelEncoder
encode=LabelEncoder()

In [51]:
x[:,0]=encode.fit_transform(x[:,0])
x.shape

(7671, 5)

In [56]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
categorical_columns = [0]
preprocessor = ColumnTransformer(transformers=[('onehot', OneHotEncoder(), categorical_columns)],remainder='passthrough')
x = preprocessor.fit_transform(x)

In [57]:
x=x[:,1:]
x.shape

(7671, 6)

In [59]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=9)

In [60]:
x_train.shape

(6136, 6)

In [61]:
from sklearn.linear_model import LinearRegression
regresor=LinearRegression()

In [63]:
regresor.fit(x_train,y_train)

LinearRegression()

In [64]:
y_predict=regresor.predict(x_test)

In [66]:
from sklearn.metrics import r2_score
r2_score(y_test,y_predict)

0.7189272138600126

In [67]:
from sklearn.ensemble import RandomForestRegressor
regressor=RandomForestRegressor(n_estimators=200)

In [69]:
regressor.fit(x_train,y_train)

RandomForestRegressor(n_estimators=200)

In [70]:
y_pred=regressor.predict(x_test)

In [71]:
r2_score(y_test,y_pred)

0.6675032565918702

In [74]:
from sklearn.tree import DecisionTreeRegressor
reg=DecisionTreeRegressor()

In [75]:
reg.fit(x_train,y_train)

DecisionTreeRegressor()

In [76]:
y_pred1=reg.predict(x_test)

In [77]:
r2_score(y_test,y_pred1)

0.5154573840763077

In [78]:
from sklearn.svm import SVR
regr=SVR()

In [79]:
regr.fit(x_train,y_train)

SVR()

In [80]:
y_pred2=regr.predict(x_test)
r2_score(y_test,y_pred2)

0.354262134350223

So here LinearRegression is showing 71% accuracy